body{
    background-color: #4B3FB3FF;
}
.AlyDev {
    position: absolute; 
    top: 24px; 
    left: 38px; 
    font-family: Arial, Helvetica, sans-serif; /* Heading */
    font-size: 40px; 
    line-height: 56px; 
    font-weight: 700; 
    color: #F3F4F6FF; /* neutral-200 */
  }
  /* Image 1 */
.esp {
    position: absolute; 
    top: 32px; 
    left: 1161px; 
    width: 56px; 
    height: 56px; 
    border-radius: 0px 0px 0px 0px; 
  }
  /* Image 2 */
.eng {
    position: absolute; 
    top: 32px; 
    left: 1246px; 
    width: 57px; 
    height: 57px; 
    border-radius: 0px 0px 0px 0px; 
  }
  /* Image 3 */
.por {
    position: absolute; 
    top: 32px; 
    left: 1330px; 
    width: 65px; 
    height: 65px; 
    border-radius: 0px; 
  }
  /* Header Menu 1 */
.header-menu {
    position: absolute; 
    top: 24px; 
    left: 720px; 
    width: 375px; 
    height: 64px; 
    display: flex; 
    align-items: center; 
    font-family: Inter; /* Body */
    font-size: 18px; 
    line-height: 28px; 
    font-weight: 400; 
    opacity: 1; 
  }
  /* Header Menu 1 - Item */
  .header-menu .header-menu-item {
    padding: 18px 20px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    color: #F3F4F6FF; /* neutral-200 */
    background: #000000FF; /* transparent */
    border-radius: 0px; 
    cursor: pointer; 
    white-space: nowrap; 
  }
  /* Header Menu 1 - Selected item */
  .header-menu .header-menu-item.selected {
    position: relative; 
    font-weight: 700; 
    color: #CCD0F5FF; /* primary-150 */
    background: #000000FF; /* transparent */
  }
  /* Header Menu 1 - Selected item */
  .header-menu .header-menu-item.selected:hover:active {
    color: #CCD0F5FF; /* primary-150 */
    background: #000000FF; /* transparent */
  }
  /* Header Menu 1 - Item with indicator */
  .header-menu .header-menu-item.selected .indicator {
    position: absolute; 
    bottom: 0px; 
    width: 100%; 
    height: 4px; 
    background: #CCD0F5FF; /* primary-150 */
    border-radius: 0px; 
  }
  /* Header menu item 1 */
  .header-menu .header-menu-item:nth-child(1) {
    font-family: Inter; 
    font-size: 18px; 
    line-height: 28px; 
    font-weight: 700; 
    color: #CCD0F5FF; /* primary-150 */
  }
  /* Header menu item 2 */
  .header-menu .header-menu-item:nth-child(2) {
    font-family: Inter; 
    font-size: 18px; 
    line-height: 28px; 
    font-weight: 400; 
    color: #F3F4F6FF; /* neutral-200 */
  }
  /* Header menu item 3 */
  .header-menu .header-menu-item:nth-child(3) {
    font-family: Inter; 
    font-size: 18px; 
    line-height: 28px; 
    font-weight: 400; 
    color: #F3F4F6FF; /* neutral-200 */
  }