body{
    background-color: #4B3FB3FF;
}
.menubar{
    background-image: url(./images/html5-logo-devextreme-multi-purpose-controls-html-javascript-3.png);
}
.AlyDev{
    position: absolute; 
    top: 24px; 
    left: 38px; 
    font-family: Epilogue; /* Heading */
    font-size: 40px; 
    line-height: 56px; 
    font-weight: 700; 
    color: #F3F4F6FF; /* neutral-200 */
}
/* Image 25 */
.myphoto {
    position: absolute; 
    top: 189px; 
    left: 122px; 
    width: 478px; 
    height: 452px; 
    border-radius: 226px; 
  }